In [6]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [7]:
df = pd.read_csv("C:\\Users\\venkat\\OneDrive\\Desktop\\Walmart.csv")

In [8]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [23]:
df.head
df.duplicated().sum()
df.isnull().sum()

invoice_id        0
branch            0
city              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
total             0
dtype: int64

In [24]:
df.drop_duplicates(inplace=True)

In [25]:
df.duplicated().sum()
df.shape

(9969, 12)

In [26]:
df.dropna(inplace=True)

In [30]:
df['unit_price'] = df['unit_price'].astype(str).str.replace('$', '', regex=False).astype(float)

In [31]:
df['total'] = df['unit_price'] * df['quantity']
df.head()

,invoice_id,branch,city,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [34]:
df['total'] = df['total'].round(2)

In [35]:
df.to_csv('walmart_cleaned_file.csv', index=False)

In [15]:
engine_mysql = create_engine("mysql+pymysql://root:yourpassword@127.0.0.1:3306/walmart")

In [20]:
df.to_sql(name='walmart', con=engine_mysql, if_exists='append', index=False)

9969

In [19]:
df.columns

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin', 'total'],
      dtype='object')

In [18]:
df.columns = df.columns.str.lower()